<h2>Panduan Ruby on Rails (<%= @edge ? @edge[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  Berikut ini adalah <b>Panduan versi Edge</b>, berdasarkan dari <a href="https://github.com/rails-id/guides/tree/<%= @edge %>">master@<%= @edge[0, 7] %></a>.
</p>
<p>
  Jika Anda mencari versi stabil dari panduan ini, silahkan cek di
  <a href="https://guides.rails.id">https://guides.rails.id</a>.
</p>
<% else %>
<p>
  Berikut ini adalah panduan baru untuk Rails <%= @version[1, 3] %> berdasarkan dari <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  Panduan ini dibuat agar Anda dapat dengan cepat menggunakan Rails secara produktif, dan untuk membantu Anda memahami bagaimana cara kerja Rails secara menyeluruh.
</p>
<% end %>
<p>
  Berikut ini adalah panduan untuk versi terdahulu.
</p>
<p>
  Versi Rails Indonesia:
  <a href="https://guides.rails.id/v5.2/">Rails 5.2</a>,
</p>
<p>
  Versi Rails Official:
  <a href="https://guides.rubyonrails.org/v5.1/">Rails 5.1</a>,
  <a href="https://guides.rubyonrails.org/v5.0/">Rails 5.0</a>,
  <a href="https://guides.rubyonrails.org/v4.2/">Rails 4.2</a>,
  <a href="https://guides.rubyonrails.org/v4.1/">Rails 4.1</a>,
  <a href="https://guides.rubyonrails.org/v4.0/">Rails 4.0</a>,
  <a href="https://guides.rubyonrails.org/v3.2/">Rails 3.2</a>,
  <a href="https://guides.rubyonrails.org/v3.1/">Rails 3.1</a>,
  <a href="https://guides.rubyonrails.org/v3.0/">Rails 3.0</a>, dan
  <a href="https://guides.rubyonrails.org/v2.3/">Rails 2.3</a>.
</p>
