<% content_for :page_title, "Panduan Ruby on Rails" %>
<% content_for :description, "Panduan Ruby on Rails" %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <% unless @edge -%>
      <dd class="kindle">Panduan Rails juga tersedia di <%= link_to 'Kindle', @mobi %>.</dd>
    <% end -%>
    <dd class="work-in-progress">Panduan yang ditandai dengan ikon ini berarti sedang dalam proses pengerjaan dan tidak akan tersedia pada menu Index Panduan. Walaupun sudah dapat digunakan, namun mungkin masih terdapat informasi yang belum lengkap dan atau bahkan salah. Anda dapat membantu kami dengan meninjaunya dan memberikan komentar serta koreksi Anda</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
