<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:page_title) %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shCore.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shThemeRailsGuides.css">

  <link rel="stylesheet" type="text/css" href="stylesheets/fixes.css">

  <link rel="stylesheet" type="text/css" href="stylesheets/rails-indonesia.css">

  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body class="guide">
  <a href="https://github.com/rails-id/guides" class="github-corner" aria-label="View source on GitHub" target="_blank"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#c52f24; color:#fff; position: fixed; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

  <% if @edge %>
  <div>
    <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge">
  </div>
  <% end %>
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">Selengkapnya di <a href="http://rails.id">rails.id:</a> </strong>
      <span class="red-button more-info-button">
        Lebih lanjut mengenai Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="https://weblog.rails.id">Blog</a></li>
        <li class="more-info"><a href="https://guides.rails.id">Panduan</a></li>
        <li class="more-info"><a href="http://api.rubyonrails.org">API</a></li>
        <li class="more-info"><a href="https://rails.id/#help">Bantuan</a></li>
        <li class="more-info"><a href="https://rails.id/contribute/">Kontribusi di GitHub</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Kembali ke Beranda">guides.rails.id</a></h1>
      <ul class="nav">
        <li><a class="nav-item" href="index.html">Beranda</a></li>
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Indeks Panduan</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr>
            <div class="guides-section-container">
              <% documents_by_section.each do |section| %>
                <div class="guides-section">
                  <dt><%= section['name'] %></dt>
                  <% finished_documents(section['documents']).each do |document| %>
                  <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
        <li><a class="nav-item" href="contributing_to_ruby_on_rails.html">Kontribusi</a></li>
        <li><a class="nav-item" href="credits.html">Credits</a></li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">Indeks Panduan</option>
            <% docs_for_menu.each do |section| %>
              <optgroup label="<%= section['name'] %>">
                <% finished_documents(section['documents']).each do |document| %>
                  <option value="<%= document['url'] %>"><%= document['name'] %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide">

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield %>

        <h3>Masukan</h3>
        <p>
          Kami sangat menghargai bantuan Kamu untuk meningkatkan kualitas panduan ini.
        </p>
        <p>
          silakan berkontribusi jika Kamu menemukan kesalahan pengetikan atau informasi.
          Untuk memulai berkontribusi, silakan membaca bagian <%= link_to 'panduan kontribusi', 'https://edgeguides.rails.id/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation' %> terlebih dahulu.
        </p>
        <p>
          Kamu mungkin menemukan konten yang belum lengkap atau belum diperbarui.
          Silakan tambahkan paduan yang belum lengkap tersebut di GitHub. Pastikan Kamu sudah memeriksa
          <%= link_to 'Panduan versi Edge', 'https://edgeguides.rails.id' %> terlebih dahulu untuk mengetahui
          apakah isu tersebut sudah diperbaiki atau belum.
          Silakan periksa <%= link_to 'Pedoman Panduan Ruby on Rails', 'ruby_on_rails_guides_guidelines.html' %>
          untuk pedoman gaya dan aturan penulisan.
        </p>
        <p>
          Jika Kamu menemukan hal yang Kamu ingin perbaiki namun tidak dapat Kamu lakukan sendiri karena alasan apapun, silakan
          <%= link_to 'membuka isu', 'https://github.com/rails/rails/issues' %>.
        </p>
        <p>Dan terakhir, semua jenis diskusi mengenai panduan Ruby on Rails
          sangat kami hargai melalui <%= link_to 'mailing list rubyonrails-docs', 'https://groups.google.com/forum/#!forum/rubyonrails-docs' %>.
        </p>
      </div>
    </div>
  </div>

  <hr class="hide">
  <div id="footer">
    <div class="wrapper">
      <%= render 'license' %>
    </div>
  </div>

  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/responsive-tables.js"></script>
  <script type="text/javascript" src="javascripts/guides.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter.js"></script>
  <script type="text/javascript" src="javascripts/rails-indonesia.js"></script>
  <script type="text/javascript">
      syntaxhighlighterConfig = {
          autoLinks: false,
      };
      $(guidesIndex.bind);
  </script>
</body>
</html>
