<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:page_title) %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbolinks-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shCore.css" data-turbolinks-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shThemeRailsGuides.css" data-turbolinks-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/fixes.css" data-turbolinks-track="reload">
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script src="javascripts/syntaxhighlighter.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/turbolinks.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/guides.js" data-turbolinks-track="reload"></script>
  <script src="javascripts/responsive-tables.js" data-turbolinks-track="reload"></script>
  <meta property="og:title" content="<%= yield(:page_title) %>" />
  <meta name="description" content="<%= yield(:description) %>" />
  <meta property="og:description" content="<%= yield(:description) %>" />
  <meta property="og:locale" content="id_ID" />
  <meta property="og:site_name" content="Panduan Ruby on Rails" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/46654718" />
  <meta property="og:type" content="website" />
</head>
<body class="guide">
  <% if @edge %>
  <div>
    <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" />
  </div>
  <% end %>
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">Selengkapnya di <a href="http://rails.id/">rails.id:</a> </strong>
      <span class="red-button more-info-button">
        Lebih lanjut mengenai Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="https://weblog.rails.id/">Blog</a></li>
        <li class="more-info"><a href="https://guides.rails.id/">Panduan</a></li>
        <li class="more-info"><a href="http://api.rubyonrails.org/">API</a></li>
        <li class="more-info"><a href="https://stackoverflow.com/questions/tagged/ruby-on-rails">Bantuan</a></li>
        <li class="more-info"><a href="https://github.com/rails-id">Kontribusi di GitHub</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <h1><a href="index.html" title="Kembali ke Beranda">guides.rails.id</a></h1>
      <ul class="nav">
        <li><a class="nav-item" href="index.html">Beranda</a></li>
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Indeks Panduan</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <div class="guides-section-container">
              <% documents_by_section.each do |section| %>
                <div class="guides-section">
                  <dt><%= section['name'] %></dt>
                  <% finished_documents(section['documents']).each do |document| %>
                  <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
        <li><a class="nav-item" href="contributing_to_ruby_on_rails.html">Kontribusi</a></li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">Indeks Panduan</option>
            <% docs_for_menu.each do |section| %>
              <optgroup label="<%= section['name'] %>">
                <% finished_documents(section['documents']).each do |document| %>
                  <option value="<%= document['url'] %>"><%= document['name'] %></option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <%= yield :header_section %>

      <%= yield :index_section %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <%= yield %>

        <h3>Masukan</h3>
        <p>
          Kami sangat menghargai bantuan Anda untuk meningkatkan kualitas panduan ini.
        </p>
        <p>
          silakan berkontribusi jika Anda menemukan kesalahan pengetikan atau informasi.
          Untuk memulai berkontribusi, silakan membaca bagian <%= link_to 'panduan kontribusi', 'https://edgeguides.rails.id/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation' %> terlebih dahulu.
        </p>
        <p>
          Anda mungkin menemukan konten yang belum lengkap atau belum diperbaharui.
          silakan tambahkan paduan yang belum lengkap tersebut di master. Pastikan Anda sudah mengecek
          <%= link_to 'Panduan versi Edge', 'https://edgeguides.rails.id' %> terlebih dahulu untuk mengetahui
          apakah isu tersebut sudah diperbaiki atau belum di master.
          silakan cek <%= link_to 'Pedoman Panduan Ruby on Rails', 'ruby_on_rails_guides_guidelines.html' %>
          untuk pedoman gaya dan aturan penulisan.
        </p>
        <p>
          Jika Anda menemukan hal yang Anda ingin perbaiki namun tidak dapat Anda lakukan sendiri karena alasan apapun, silakan 
          <%= link_to 'membuka isu', 'https://github.com/rails/rails/issues' %>.
        </p>
        <p>Dan terakhir, semua jenis diskusi mengenai panduan Ruby on Rails
          sangat kami hargai melalui <%= link_to 'mailing list rubyonrails-docs', 'https://groups.google.com/forum/#!forum/rubyonrails-docs' %>.
        </p>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <%= render 'license' %>
    </div>
  </div>
</body>
</html>
